* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  background: url("/assets/images/bg_smile.jpg") center/cover;
  z-index: 1;
}

.rotate--icons {
  transition: 1700ms all;
}
.rotate--icons:hover {
  transform: rotate(360deg);
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

ul {
  list-style-type: none;
  font-size: 20px;
  color: white;
  width: 100%;
}
li {
  margin-top: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
i {
  cursor: pointer;
  color: #f4f4f4;
  font-size: 40px;
}

.btnAll {
  height: 100vh;
  width: 100%;
  background-color: #2d3192;
  z-index: 2;
}

.make-hidden {
  display: none;
  transition: 1s all;
}

.make-visible {
  display: block;
  transition: 1s all;
}
